{
  "env": {
    "commonjs": {
      "presets": [
        ["env", {
          "loose": true,
          "targets": {
            "chrome": 58,
            "ie": 10
          }
        }],
        "stage-2"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-runtime"
      ]
    },
    "es": {
      "presets": [
        ["env", {
          "loose": true,
          "modules": false,
          "targets": {
            "chrome": 58,
            "ie": 10
          }
        }],
        "stage-2"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-runtime"
      ]
    },
    "dist": {
      "presets": [
        ["env", {
          "loose": true,
          "modules": false,
          "targets": {
            "chrome": 58,
            "ie": 10
          }
        }],
        "stage-2"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "external-helpers",
        "transform-runtime"
      ]
    }
  }
}