{
  "env": {
    "commonjs": {
      "presets": [
        ["env", { "loose": true }],
        "stage-2"
      ]
    },
    "es": {
      "presets": [
        ["env", { "loose": true, "modules": false }],
        "stage-2"
      ]
    },
    "dist": {
      "presets": [
        ["env", { "loose": true, "modules": false }],
        "stage-2"
      ],
      "plugins": [
        "external-helpers",
        "transform-runtime"
      ]
    }
  }
}